@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    width: 100%;
    height: 100%;
    background: #1B1B1B;
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

/* =====================> MENU TOGGLE ANIMATIONS */
.menu-bar[data-position=top] {
    transform: translateY(-6px) translateX(5px) scaleX(0.5);
}
.menu-bar[data-position=bottom] {
    transform: translateY(6px);
}
.menu-toggle.active .menu-bar[data-position=top] {
    transform: translateY(0) rotate(45deg) scaleX(1.05);
}
.menu-toggle.active .menu-bar[data-position=bottom] {
    transform: translateY(0) rotate(-45deg) scaleX(1.05);
}
/* =====================> MENU TOGGLE ANIMATION ENDS */



/* Always show vertical scrollbar rail */
.ps__rail-y {
    opacity: 1 !important;
    width: 4px !important;
    right: 0px; /* ensure it's aligned correctly */
  }
  
/* Style the vertical scrollbar thumb */
.ps__thumb-y {
    background-image: linear-gradient(90deg, rgba(232,198,135,1) 0%, rgba(193,153,94,1) 100%);
    width: 6px !important;
    margin-right: -3px !important;
    border-radius: 4px;
}

/* Optional: dark background for the rail when active or hovered */
.ps--active-y > .ps__rail-y,
.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
    background: #1B1B1B !important;
}


/* Target scrollbar thumb */
.custom-scrollbar .simplebar-scrollbar::before {
    content: '';
    background: linear-gradient(180deg, rgba(232,198,135,1) 0%, rgba(193,153,94,1) 100%);
    border-radius: 6px;
    opacity: 1 !important;
}

/* Move vertical scrollbar 50px to the right */
.custom-scrollbar .simplebar-track.simplebar-vertical {
    right: -50px !important;
    width: 8px !important; /* Set the width of the scrollbar to 8px */
    background-color: #1B1B1B; /* Dark grey background for the track */
    border-radius: 8px; /* Optional: rounds the corners of the scrollbar track */
}

/* Hide horizontal scrollbar */
.custom-scrollbar .simplebar-track.simplebar-horizontal {
    display: none !important;
}

.custom-scrollbar .simplebar-scrollbar:hover::before {
    cursor: grab;  /* Change cursor to grabbing when dragging */
}

.custom-scrollbar .simplebar-scrollbar:active::before {
    cursor: grabbing;  /* Change cursor to grabbing when dragging */
}


/* Ensure the thumb is draggable even when not hovering */
.custom-scrollbar .simplebar-scrollbar::before {
    pointer-events: all;  /* Make sure the thumb can be clicked and dragged */
}

.text-subtle-gold {
    background-image: linear-gradient(90deg, rgba(232,198,135,1) 0%, rgba(193,153,94,1) 100%);
    color: transparent;
    background-clip: text;
}

.font-medium {
    font-weight: 600;
}
.font-extralight {
    font-weight: 300;
}

.eb-garamond-400 {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* NEWS SWIPER SETTINGS */
.news-swiper .swiper-slide {
    width: 28%;
}

.news-swiper .swiper-horizontal > .swiper-pagination-bullets, .news-swiper .swiper-pagination-bullets.swiper-pagination-horizontal, .news-swiper .swiper-pagination-custom, .swiper-pagination-fraction {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.news-swiper .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .news-swiper .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
}

.news-swiper .swiper-pagination-bullet {
    width: 40px;
    height: 8px;
    border-radius: 5px;
    background: #2D2D2D;
}
.news-swiper .swiper-pagination-bullet-active  {
    background: #C59C40;
}

@media (min-width: 768px) {
    .news-swiper .swiper-pagination-bullet {
        width: 40px;
    }
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
    display: inline-flex;
    /* bottom: -20px; */
    left: 50% !important;
    width: auto !important;
}

.text-subtle-gold {
    background-image: linear-gradient(90deg, rgba(232,198,135,1) 0%, rgba(193,153,94,1) 100%);
    color: transparent;
    background-clip: text;
}
.golden-shadows {
    text-shadow: 0 0 1px #C59C40;
}


/* plus / minus animation */
.closed .vertical {
    -webkit-transition: all 0.5s ease-in-out;
    -moz--transition: all 0.5s ease-in-out;
    -ms--transition: all 0.5s ease-in-out;
    -o--transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.closed .horizontal {
    transition: all 0.5s ease-in-out;
    transform: rotate(-90deg);
    opacity: 1;
}
  
.opened {
    opacity: 1;
}
.opened .collapsible-title {
    background: #0E0E0E;
}
.collapsible:hover .collapsible-title {
    background: #0E0E0E;
}
.opened .vertical {
    transition: all 0.5s ease-in-out;
    transform: rotate(90deg);
}
.opened .horizontal {
    transition: all 0.5s ease-in-out;
    transform: rotate(90deg);
    opacity: 0;
}
.circle-plus {
    height: 32px;
    width: 32px;
    position: relative;
}
.circle-plus .horizontal {
    position: absolute;
    background-color: white;
    width: 32px;
    height: 2px;
    left: 50%;
    margin-left: -15px;
    top: 50%;
    margin-top: -1px;
}
.circle-plus .vertical {
    position: absolute;
    background-color: white;
    width: 2px;
    height: 32px;
    left: 50%;
    margin-left: -1px;
    top: 50%;
    margin-top: -15px;
}

/* Hero Swiper Settings*/
.custom-swiper .swiper-pagination {
    right: 5vw !important;
    bottom: 5vw !important;
    left: auto !important;
    display: flex;
    justify-content: flex-end;
  }

.hero-header-bg {
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 10%,rgba(0,0,0,0.95) 100%);
}

.hero-swiper .swiper-horizontal>.swiper-pagination-bullets, .hero-swiper .swiper-pagination-bullets.swiper-pagination-horizontal, .hero-swiper .swiper-pagination-custom, .swiper-pagination-fraction {
    left: auto;
    right: 6vw;
    bottom: 3vw;
}
.hero-swiper .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .hero-swiper .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 45px;
    height: 4px;
    border-radius: 2px;
    background: #BFBFBF;
    opacity: 1;
}
.hero-swiper .swiper-pagination-bullet-active {
    background: #C59C40 !important;
}
